.navbarContainer {
  width: 100vw;
  height: 80px;

  background: var(--red);

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.navbarLogo img {
  width: 110px;
  margin: 15px;
}

.navbarLinks {
  display: flex;
  justify-content: space-around;
}

.navbarLinks li {
  margin: 0 2vw;
  list-style: none;
  transition: 0.5s;
}

.navbarLinks li:hover {
  transform: scale(1.1);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.navbarLinks a {
  color: var(--white);

  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.2rem;
}
